<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ASSY_URDF.SLDASM3">
  <link
    name="gripper_base">
    <inertial>
      <origin
        xyz="-4.8185E-05 1.2812E-06 0.033325"
        rpy="0 0 0" />
      <mass
        value="0.6734" />
      <inertia
        ixx="0.00034291"
        ixy="7.1656E-06"
        ixz="-5.6694E-08"
        iyy="0.00032874"
        iyz="-5.642E-09"
        izz="0.00062375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="gripper_joint_1">
    <inertial>
      <origin
        xyz="9.1778E-09 0.025065 -0.0045868"
        rpy="0 0 0" />
      <mass
        value="0.025712" />
      <inertia
        ixx="7.1205E-06"
        ixy="-2.953E-12"
        ixz="2.5553E-12"
        iyy="1.241E-06"
        iyz="-6.3858E-07"
        izz="7.7317E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_joint_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_joint_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_joint_1_joint"
    type="prismatic">
    <origin
      xyz="0 0.0525 0.06"
      rpy="1.5708 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="gripper_joint_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper_joint_2">
    <inertial>
      <origin
        xyz="-9.1778E-09 -0.025065 -0.0045868"
        rpy="0 0 0" />
      <mass
        value="0.025712" />
      <inertia
        ixx="7.1205E-06"
        ixy="-2.953E-12"
        ixz="-2.5553E-12"
        iyy="1.241E-06"
        iyz="6.3858E-07"
        izz="7.7317E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_joint_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.92157 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASSY_URDF.SLDASM3/meshes/gripper_joint_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_joint_2_joint"
    type="prismatic">
    <origin
      xyz="0 -0.0525 0.06"
      rpy="-1.5708 0 0" />
    <parent
      link="gripper_base" />
    <child
      link="gripper_joint_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>